In [11]:
from pycaret.time_series import *
import pandas as pd

In [4]:
model = load_model('temp_eng')

Transformation Pipeline and Model Successfully Loaded

In [5]:
predict = predict_model(model)

In [6]:
predict

             y_pred
2025-01-13  27.6430
2025-01-14  27.8771
2025-01-15  28.4779
2025-01-16  27.7895
2025-01-17  28.2242
2025-01-18  27.9305
2025-01-19  27.5031
2025-01-20  27.9924
2025-01-21  28.0390
2025-01-22  28.5221
2025-01-23  27.9822
2025-01-24  28.3420
2025-01-25  28.0511
2025-01-26  27.7511
2025-01-27  28.5502
2025-01-28  28.2332
2025-01-29  28.3396
2025-01-30  28.0432
2025-01-31  27.6660
2025-02-01  28.1665
2025-02-02  28.2130
2025-02-03  27.5273
2025-02-04  27.8718
2025-02-05  27.4565
2025-02-06  27.7071
2025-02-07  28.1541
2025-02-08  28.1216
2025-02-09  27.8809
2025-02-10  27.8929
2025-02-11  27.8655

In [7]:
model2 = load_model('humi_eng')

Transformation Pipeline and Model Successfully Loaded

In [8]:
predict2 = predict_model(model2)

In [9]:
predict2

             y_pred
2025-01-13  79.6041
2025-01-14  79.0661
2025-01-15  75.2929
2025-01-16  76.1709
2025-01-17  76.5904
2025-01-18  76.4994
2025-01-19  74.3674
2025-01-20  71.6042
2025-01-21  74.3681
2025-01-22  73.8930
2025-01-23  76.4144
2025-01-24  74.4269
2025-01-25  77.0363
2025-01-26  77.6732
2025-01-27  76.1509
2025-01-28  74.2456
2025-01-29  76.5496
2025-01-30  73.7593
2025-01-31  74.5171
2025-02-01  73.9904
2025-02-02  72.3224
2025-02-03  73.5522
2025-02-04  73.9273
2025-02-05  75.1520
2025-02-06  76.0724
2025-02-07  72.3837
2025-02-08  73.4254
2025-02-09  72.3203
2025-02-10  70.6369
2025-02-11  74.2391

In [24]:
# รวม Series เข้าด้วยกันและสร้าง DataFrame
df = pd.concat([predict, predict2], axis=1)
df.columns = ['temperature', 'humidity']

In [ ]:
# df.index = df.index.to_timestamp()

# df["year"] = df.index.year
# df["month"] = df.index.month
# df["day"] = df.index.day
# df["day_of_week"] = df.index.dayofweek  # 0 = Monday, 6 = Sunday
# df["week_of_year"] = df.index.isocalendar().week  # ค่าจะเป็น int64
# df["temp_humidity_ratio"] = df["temperature"] / (df["humidity"] + 1)

In [25]:
df

            temperature  humidity
2025-01-13      27.6430   79.6041
2025-01-14      27.8771   79.0661
2025-01-15      28.4779   75.2929
2025-01-16      27.7895   76.1709
2025-01-17      28.2242   76.5904
2025-01-18      27.9305   76.4994
2025-01-19      27.5031   74.3674
2025-01-20      27.9924   71.6042
2025-01-21      28.0390   74.3681
2025-01-22      28.5221   73.8930
2025-01-23      27.9822   76.4144
2025-01-24      28.3420   74.4269
2025-01-25      28.0511   77.0363
2025-01-26      27.7511   77.6732
2025-01-27      28.5502   76.1509
2025-01-28      28.2332   74.2456
2025-01-29      28.3396   76.5496
2025-01-30      28.0432   73.7593
2025-01-31      27.6660   74.5171
2025-02-01      28.1665   73.9904
2025-02-02      28.2130   72.3224
2025-02-03      27.5273   73.5522
2025-02-04      27.8718   73.9273
2025-02-05      27.4565   75.1520
2025-02-06      27.7071   76.0724
2025-02-07      28.1541   72.3837
2025-02-08      28.1216   73.4254
2025-02-09      27.8809   72.3203
2025-02-10      27.8929   70.6369
2025-02-11      27.8655   74.2391

In [23]:
# Export DataFrame ไปยังไฟล์ CSV
df.to_csv('export_data/output_test.csv')